body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

.header {
  position: relative; /* For z-indexes to work */
  display: flex;
  background-color: #ededed;
  padding: 10px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.05);
  z-index: 11;
}

.page-name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: calc(
    100vh - 57px - 39px
  ); /* 100% - header height - footer height */
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #d1d1d1;
  gap: 50px;
  box-shadow: 7px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.sceduled-tasks {
  padding: 35px 0 0 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.tasks-today-btn,
.tasks-week-btn,
.new-project-btn {
  font-size: 1.5rem;
  padding: 5px;
  width: 65%;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: #c4c4c4;
}

.projects {
  padding: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-display {
  background-color: #bebebe;
  padding: 15px 0 0 30px;
}

.footer {
  position: relative;
  display: flex;
  background-color: #acacac;
  padding: 10px;
  z-index: 11;
}

.footer > p {
  margin: 0;
}

.inactive {
  display: none !important;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 100;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.add-popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: inherit;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #ededed;
  z-index: 51;
}

.add-para {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-title-input,
.add-description-input,
.add-date-input {
  font-size: 1.25rem;
  padding: 2px 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.checkbox-divider {
  display: flex;
  justify-content: space-between;
}

.checkbox-divider > label {
  font-weight: 700;
  font-size: 1.25rem;
}

.add-status-input {
  height: 20px;
  width: 20px;
}

.add-task-btn {
  font-size: 1.25rem;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
}
